* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* Menu */

.menu-label{
    display: none;
}

/* Header */

header {
    background: #242424;
    border-bottom: 2px solid #af621b;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    position: fixed;
    z-index: 2;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.register, .navbar, .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register, .register a, .navbar-list a{
    color: #af621b;
    font-size: 16px;
    font-weight: 900;
}

.navbar {
    gap: 50px;
}

.register {
    gap: 12px;
}

.navbar-list {
    gap: 30px
} 

body {
    background-image: url(./img/textura-papel-viejo-fondo-papel-vintage_262663-435.avif);
    background-position: center;   
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Cart */

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 1rem;
    color: #af621b;
    cursor: pointer;
    position: relative;
}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

/*carrito*/
.cart {
    position: absolute;
    top: 115px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to top, #171716, #242424);
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
    display: none;
    width: 10px;
    background-color: white;
}

.cart h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #2323234e;
    padding: 20px;
    border: 1px solid #134eac;
    border-radius: 10px;
}

.cart-item img {
    height: 65px;
    width: 65px;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
}

.item-title {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.item-bid {
    color: #474b51;
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: linear-gradient(to right, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
}

.item-quantity {
    color: #474b51;
}

.up {
    border: 1px solid #134eac;
}

.down {
    background-color: #9ab01f;
    border: 1px solid #134eac;
}

.divider {
    margin-top: 20px;
    border: 0.5px solid #134eac;
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: #fff;
    font-weight: 700;
}

.cart-total span {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

/*Toggle del carro*/
.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
    color: #474b51;
    font-size: 14px;
}

.overlay {
    position: absolute;
    top: 115px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; 
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
    }

.show-overlay {
    display: block;
}

.empty-msg {
    color: black;
    font-weight: 800;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.gotohome {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    line-height: 50px;
    z-index: 2;
}

.gotohome i{
    font-size: 50px;
    color: #4c4a4a;
}

/* Section hero */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 130px 0px 0px 0px;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #242424;
    box-shadow: 10px 10px 10px #242424;
    border-radius: 10px;
    height: 344px;
    width: 100%;
    max-width: 1800px;
    background-image: url(./img/holiday.jpg);
    background-position: center;   
    background-size: cover; 
    background-repeat: no-repeat;
}

.hero-banner h1 {
    font-size: 100px;
    background: linear-gradient(180deg, #000000 0%, #af621b 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-banner p {
    font-size: 20px;
    font-weight: 600;
}

/* Inicio */

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    
}

.inicio-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inicio-info p {
    font-size: 20px;
    font-weight: 600;
    color: #242424;
    padding: 0px 30px 0px 0px;
}

.inicio-info p span {
    font-size: 30px;
}

.boton,
.boton-load{
    width: 160px;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #af621b;
    background: #242424;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}

.inicio-img img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid #242424;
}

/* Agenda */

.agenda {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 90%;
    margin-top: 40px;
    padding: 20px;
    border: 4px double #af621b;
    color: #242424;
    border-radius: 8px;
}

.agenda-text {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 5px;
}

.agenda-icono{
    font-size: 40px;
}

/* Nosotros */

#nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
}

.nosotros-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
    color: #242424;
}

.nosotros-text h2 {
    font-size: 30px;
}

.nosotros-text p {
    font-size: 20px;
    font-weight: 600;
}

/* Paquetes / Cards */

#paquetes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    max-width: 1200px;
}

.paquetes-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #242424;
}

.paquetes-title h2 {
    font-size: 30px;
}

.paquetes-title p {
    font-size: 18px;
}

.paquetes-title span {
    font-weight: 600;
}

#paquetes-section video{
    border: 2px solid #242424;
    border-radius: 10px;
    box-shadow: 0px 5px 35px #242424;
    height: 400px;
}

.paquetes-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paquetes-info-column {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.paquetes-info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paquetes-info-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 20px;
}

.paquetes-info-title {
    color: #242424;
    font-weight: 600;
}

.destinos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.paquetes-info-item a {
    color: #2568d5;
}

.paquetes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.paquetes-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;   
    padding-bottom: 15px; 
    border-radius: 20px;    
    box-shadow: 0px 5px 35px #242424;
    gap: 20px;
    width: 20%;
}

.paquetes-item img {    
    cursor: pointer;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 270px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    gap: 15px;
}

.item-info h3 {
    font-size: 19px;
    font-weight: 900;
    color: #ff5930;
}

.item-info-mid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.item-info-tags {
    border: 1px solid #e2e6ec;
    border-radius: 10px;
    color: #8290a6;
    font-size: 12px;
    padding: 4px;
}

.item-info-tags:last-child {
    cursor: pointer;
}

.item-info-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-info-bot span {
    font-size: 14px;
    color: #8290a6;
}

.item-info-bot p {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.bariloche {
    color: #1487a7;
}

.boton-cards {
    background-color: #134eac;    
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button-cards {
    color: #e2e6ec;
}

.linea {
    border-color: #242424;
    width: 50%;
    margin: 40px 0px 40px 0px;
}

/* Products Section */
#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    max-width: 1200px;
    width: 100%;
}

#products h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

  /* categories */
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.category {
    width: 160px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #af621b;
    background: #242424;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.active {
    background:#af621b;
    color:#000;
    box-shadow: 0px 0px 5px 0px #0d1315;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    max-width: 1200px;
}

.btn-add,
.btn-buy,
.btn-delete {
  cursor: pointer;
  padding: 10px 35px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s all ease-out;
}

.btn-buy,
.btn-add {
  background: #28a745;
}

.btn-buy,
.btn-delete {
  width: 100%;
}

.btn-delete {
  border: 2px solid #dd1010;
  background-color: transparent;
}

.btn-delete:hover {
  background: #134eac;
  transition: 0.3s all ease-in;
}

/* Contacto */

#section-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contacto-container h2 {
    font-size: 30px;
    color: #242424;
}

.contacto {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 0px 20px 0px #0d1315;
    width: 100%;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contacto-form form input
,form textarea{
    margin-top: 20px;
}

.contacto-form form input
,form textarea
, form button {
    width: 100%;
    padding: 5px;
    color: #242424;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #242424;
}

.input::placeholder {
    font-size: 15px;
    color: #474b51;
}

.contacto-form form button {
    background-color: #242424;
    font-size: 14px;
    margin-top: 40px;
    color: #95979b;
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 20px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contacto-info-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #242424;
}

.contacto-info-data li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #95979b;
}

.mapa {
    display: flex;
    flex-direction: column;
}

.contacto-info iframe {
    border-radius: 10px;
    box-shadow: 0px 5px 35px #242424;
}

/* Success y Error Contacto */
.contacto-form-input.error input {
    border: 1px solid #dc3545;
    box-shadow: 0px 1px 5px #dc3545;
}

.contacto-form-input small {
    color: #dc3545;
    max-width: 350px;
    margin-top: 4px;
    text-align: center;
    display: none;
}

.contacto-form-input.success input {
    border: 1px solid #28a745;
    box-shadow: 0px 1px 5px #28a745;
}

/* Footer */

footer {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background-color: #242424;
    border-top: 2px solid #af621b;
    color: #474b51;
}

.footer-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0px 0px 0px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-item h3 {
    font-size: 22px;
}

.footer-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-item-info a {
    font-size: 16px;
    color: #474b51;
}

.footer-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}

.disabled {
    background-color: #474b51;
    color: white;
    cursor: not-allowed;
    border: none;
}
.disabled:hover {
    background-color: #474b51;
    color: white;
    cursor: not-allowed;
    border: none;
}

.hidden {
    display: none;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}