/* Smartphone */

@media (max-width: 576px) {

    main {
        margin: 140px 0px 140px 0px;
    }
    .input {
        font-size: 25px;
        width: 80%;
    }

    .input::placeholder {
        font-size: 20px;
    }

    form button {
        margin-top: 20px;
    }

    .register {
        width: 80%;
    }

    .goback i, .goback a{
        font-size: 20px;
    }

    .label-select {
        flex-direction: column;
        margin-top: 10px;
    }

}